*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --first-color: #00362C;
    --second-color: #0E5144;
    --third-color: #44887B;
    --fourth-color: #6DA398;
    --text-color-1: white;
    --text-color-2: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------- Header-Section --------------- */
#header {
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    width: 100%;
}

#header-img {
    width: 3rem;
}

#headline {
    color: var(--text-color-1);
    font-size: 2rem;
}

/* --------------- Main-Section --------------- */
#main {
    /* background-color: var(--fourth-color); */
    min-height: calc(100vh - 11.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

/* ----- Button-Section ----- */
#createBook {
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border: 1px solid var(--second-color);
    border-radius: 20px;
    background-color: var(--text-color-1);
    color: var(--first-color);
    margin-bottom: 2rem;
    display: block;
}

#createBook:hover,
#newForm button:hover,
#removeCardButton:hover {
    background-color: var(--second-color);
    color: var(--text-color-1);
    border: 1px solid var(--text-color-2);
    cursor: pointer;
}

#createBook:active,
#newForm button:active,
#removeCardButton:active {
    box-shadow: 1px 1px 1px var(--first-color);
}

/* ----- Output-Section ----- */
#output {
    width: 80vw;
    min-height: calc(100vh - 21rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

/* ----- Formular ----- */
#newForm {
    border: 2px solid var(--first-color);
    background-color: var(--fourth-color);
    height: 22rem;
    width: 15rem;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    position: relative;
    top: -5rem;
    padding: 1rem;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;

    width: 90%;
    
}

.form-wrapper:last-child {
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#newForm label {
    color: white;
    font-size: 1.5rem;
}

#newForm input {
    font-size: .8rem;
    padding: .25rem;
    color: var(--first-color);
}

#newForm button {
    font-size: .8rem;
    width: 6rem;
    padding: .25rem;
    border: 1px solid var(--second-color);
    border-radius: 20px;
    background-color: var(--text-color-1);
    color: var(--first-color);
}

.switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.125rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-color-1);
    -webkit-transition: .4s;
    transition: .4s;
    padding-top: 1px;
}

.slider::before {
    position: absolute;
    content: '';
    height: 1rem;
    width: 1rem;
    left: .125rem;
    right: .125rem;
    background-color: var(--fourth-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: var(--first-color);
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px var(--first-color);
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(1.125rem);
  -ms-transform: translateX(1.125rem);
  transform: translateX(1.125rem);
  background-color: var(--text-color-1);
}

.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}


/* ----- Card ----- */
#card-wrapper {
    height: 18rem;
    width: 12rem;
    border: 2px solid var(--first-color);
    border-radius: 20px;
    box-shadow: 2px 2px 2px var(--second-color);
    background-color: var(--fourth-color);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    color: var(--first-color);
    position: relative;
}

#card-wrapper:last-of-type(button){
    align-items: center;
}

#newTitleOutput {
    font-size: 1.25rem;
    font-weight: bold;
}

#newAuthorOutput {
    position: absolute;
    bottom: 6rem;
    display: block;
    font-size: .75rem;
    text-align: left;
    border-top: 3px solid var(--first-color);
    padding-top: .25rem;
    width: 90%;
}

#newPageOutput {
    position: absolute;
    bottom: 4rem;
    font-size: .8rem;
}

#removeCardButton {
    margin: auto auto .25rem auto;
    width: 6rem;

    font-size: .8rem;
    padding: .25rem;
    border: 1px solid var(--second-color);
    border-radius: 20px;
    background-color: var(--text-color-1);
    color: var(--first-color);
}

.newReadButtonWrapper {
   position: absolute;
   display: flex;
   align-items: center;
   gap: 1rem;
   bottom: 2.75rem;
   font-size: .8rem;
}



/* --------------- Footer-Section --------------- */
#footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    color: var(--first-color);
}

#footer a,
#footer a:link,
#footer a:visited {
    text-decoration: none;
    color: var(--first-color);
}